<h1>About page</h1>
<p>Find me in app/views/static/about.html.erb</p>

<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">Seriously i like just got home</a>
</div>
<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">Need sleep</a>
</div>
<div class="alert alert-warning" role="alert">
  <a href="#" class="alert-link">I also have to coach sectional championships in Indiana next weekend</a>
</div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">I apologize in advance.</a>
</div>
