<h1>The home page</h1>
<p>Find me in app/views/static/home.html.erb</p>

<div class="alert alert-warning" role="alert">
My model keeps track of pet owners and whether or not they have all of their pets licensed or not. *I have no idea if this is actually a thing*
</div>
