<h1>The home page</h1>
<p>Find me in app/views/static/home.html.erb</p>

<div class="alert alert-success" role="alert">I hope this qualifies as css</div>

<div class="alert alert-info" role="alert">I spent all weekend coaching a swim meet and i'm exhausted</div>

<div class="alert alert-warning" role="alert">humble brag incoming</div>

<div class="alert alert-danger" role="alert">I coach the 4th fastest swimmer in the state :)</div>
<%= current_date_and_time %>
<br />
<%= image_tag("rita2.jpg", :alt => "rita") %>
<%= image_tag("rita1.jpg", :alt => "rita") %>
